.signup-form-container, .login-form-container {
    width: 670px;
    margin: 50px auto;
    padding: 2em;
}

.signup-form-container .signup-form, .signup-form-container .login-form, .login-form-container .signup-form, .login-form-container .login-form {
    width: 100%;
}

.signup-form-container .signup-button, .signup-form-container .login-button, .login-form-container .signup-button, .login-form-container .login-button {
    padding: 13px;
    margin-top: 15px;
    width: 100%;
}