<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com"
      lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>meetup</title>
    <link rel="stylesheet" href="css/common.css"/>
    <link rel="stylesheet" href="css/home.css"/><！-- need to change -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.anystretch.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <h1>about</h1>
</div>
<div th:replace="fragments/footer :: footer"/>

<script>
		$('.home-banner').anystretch();

</script>

</body>
</html>
