<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>meetup</title>
	<link rel="stylesheet" href="css/common.css"/>
	<link rel="stylesheet" href="css/index.css"/>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script type="js/jquery.anystrethc.min.js"></script>
</head>
<body>
	<div th:replace="fragments/header :: header"/>
	<div class="container">
		<h1>about</h1>
	</div>
	<div th:replace="fragments/footer :: footer"/>
	<script>
		$('.home-banner').anystretch();
	</script>

</body>
</html>
