<!DOCTYPE html>
<html lang="en">
<head>
	<title>MeetUp Home Page</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="css/common.css"/>
	<link rel="stylesheet" type="text/css" href="css/home.css"/>
	<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.anystretch.min.js"></script>

</head>
<body class="home">
	<div th:replace="fragments/header :: header" />
	<div class="home-banner" data-stretch="images/route66.jpg"></div>
	<div th:replace="fragments/footer :: footer" />
	<script>
		$('.home-banner').anystretch();
	</script>
</body>
</html>