<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.com"
      lang="en">
<head>
    <title>MeetUp Home Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/common.css"/>
    <link rel="stylesheet" href="css/home.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.anystretch.min.js"></script>
</head>
<body class="home">
<div th:replace="fragments/header :: header"/>
<div class="home-banner" data-stretch="images/route66.jpg"></div>
<div th:replace="fragments/footer :: footer"/>
<script>
		$('.home-banner').anystretch();

</script>
</body>
</html>